{% extends "encyclopedia/layout.html" %}
{% load static %}

{% block title %}
    Edit: {{ title }}
{% endblock %}

{% block body %}
    <h1>Edit Entry: {{ title }}</h1>

    <form 
        class="add-entry__form mt-4 d-flex flex-column" 
        action="{% url 'edit_entry' title=title %}" 
        method="post">

        {% csrf_token %}
        
        <label for="{{ form.title.id_for_label }}">Title:</label>
        {{ form.title }}

        <label for="{{ form.content.id_for_label }}">Content:</label>
        {{ form.content }}

        <button type="submit" class="add-entry__submit-btn btn btn-primary d-flex align-items-center">
            <img class="icon" src="{% static 'encyclopedia/icons/floppy.svg' %}">
            Save Changes
        </button>
    </form>
{% endblock %}
