{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    <h1>Create a New Encyclopedia Entry</h1>

    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

    <form class="add-entry__form mt-4 d-flex flex-column" action="{% url 'new_page' %}" method="post">
        {% csrf_token %}

        <label for="{{ form.title.id_for_label }}">Title:</label>
        {{ form.title }}

        <label for="{{ form.content.id_for_label }}">Content:</label>
        {{ form.content }}

        <button type="submit" class="add-entry__submit-btn btn btn-primary">Save Page</button>
    </form>
{% endblock %}
